# Exercise 1

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

In [1]:
import pandas as pd
food = pd.read_csv('en.openfoodfacts.org.products.tsv', sep = '\t')

C:\Users\bener807\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Step 4. See the first 5 entries

In [2]:
five_entries = food.head(5)
print(five_entries)

    code                                                url  \
0   3087  http://world-en.openfoodfacts.org/product/0000...
1   4530  http://world-en.openfoodfacts.org/product/0000...
2   4559  http://world-en.openfoodfacts.org/product/0000...
3  16087  http://world-en.openfoodfacts.org/product/0000...
4  16094  http://world-en.openfoodfacts.org/product/0000...

                      creator   created_t      created_datetime  \
0  openfoodfacts-contributors  1474103866  2016-09-17T09:17:46Z
1             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
2             usda-ndb-import  1489069957  2017-03-09T14:32:37Z
3             usda-ndb-import  1489055731  2017-03-09T10:35:31Z
4             usda-ndb-import  1489055653  2017-03-09T10:34:13Z

  last_modified_t last_modified_datetime                    product_name  \
0      1474103893   2016-09-17T09:18:13Z              Farine de bl√© noir
1      1489069957   2017-03-09T14:32:37Z  Banana Chips Sweetened (Whole)
2      1489069957   2017-03-09T14:32:37Z                         Peanuts
3      1489055731   2017-03-09T10:35:31Z          Organic Salted Nut Mix
4      1489055653   2017-03-09T10:34:13Z                 Organic Polenta

  generic_name quantity  ... fruits-vegetables-nuts_100g  \
0          NaN      1kg  ...                         NaN
1          NaN      NaN  ...                         NaN
2          NaN      NaN  ...                         NaN
3          NaN      NaN  ...                         NaN
4          NaN      NaN  ...                         NaN

  fruits-vegetables-nuts-estimate_100g collagen-meat-protein-ratio_100g  \
0                                  NaN                              NaN
1                                  NaN                              NaN
2                                  NaN                              NaN
3                                  NaN                              NaN
4                                  NaN                              NaN

  cocoa_100g chlorophyl_100g carbon-footprint_100g nutrition-score-fr_100g  \
0        NaN             NaN                   NaN                     NaN
1        NaN             NaN                   NaN                    14.0
2        NaN             NaN                   NaN                     0.0
3        NaN             NaN                   NaN                    12.0
4        NaN             NaN                   NaN                     NaN

  nutrition-score-uk_100g glycemic-index_100g water-hardness_100g
0                     NaN                 NaN                 NaN
1                    14.0                 NaN                 NaN
2                     0.0                 NaN                 NaN
3                    12.0                 NaN                 NaN
4                     NaN                 NaN                 NaN

[5 rows x 163 columns]

### Step 5. What is the number of observations in the dataset?

In [3]:
n_rows, n_columns = df.shape
print(f'Number of observations: {n_rows}')

NameError: name 'df' is not defined

### Step 6. What is the number of columns in the dataset?

In [ ]:
print(f'Number of columns: {n_columns}')

### Step 7. Print the name of all the columns.

In [ ]:
col_names = list(food)
for col_name in col_names:
    print(col_name)

### Step 8. What is the name of 105th column?

In [ ]:
print(f'105th column has name: {col_names[104]}')

### Step 9. What is the type of the observations of the 105th column?

In [ ]:
print(f'105th column has data type: {df.dtypes[104]}')

### Step 10. How is the dataset indexed?

In [8]:
# One product is displayed on each row where the columns correspond to different characteristics of the product.
print(food.index)

# Each row is indexed by a number

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [ ]:
observation = food[18:19]
prod_name = observation['product_name']
print(f'Product name of 19th observation: \n{prod_name}')