# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [6]:
# Added keep_default_na to stop pandas to interpret 'NA' as nan.
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv', keep_default_na = False)

### Step 4. Which continent drinks more beer on average?

In [10]:
continents = np.unique(list(drinks['continent']))
for continent in continents:
    subset = drinks[drinks['continent'] == continent]
    mean = np.mean(subset['beer_servings'])

    print(f'{continent} average beer servings: {mean:.2f}')

AF average beer servings: 61.47
AS average beer servings: 37.05
EU average beer servings: 193.78
NA average beer servings: 145.43
OC average beer servings: 89.69
SA average beer servings: 175.08

### Step 5. For each continent print the statistics for wine consumption.

In [11]:
for continent in continents:
    subset = drinks[drinks['continent'] == continent]
    mean = np.mean(subset['wine_servings'])

    print(f'{continent} average wine servings: {mean:.2f}')

AF average wine servings: 16.26
AS average wine servings: 9.07
EU average wine servings: 142.22
NA average wine servings: 24.52
OC average wine servings: 35.62
SA average wine servings: 62.42

### Step 6. Print the mean alcoohol consumption per continent for every column

In [16]:
for continent in continents:
    subset = drinks[drinks['continent'] == continent]
    mean = subset[['wine_servings', 'beer_servings', 'spirit_servings']].mean()
    
    print(f'\n{continent} average servings')
    print('--------------')
    print(mean)

AF average servings
--------------
wine_servings      16.264151
beer_servings      61.471698
spirit_servings    16.339623
dtype: float64

AS average servings
--------------
wine_servings       9.068182
beer_servings      37.045455
spirit_servings    60.840909
dtype: float64

EU average servings
--------------
wine_servings      142.222222
beer_servings      193.777778
spirit_servings    132.555556
dtype: float64

NA average servings
--------------
wine_servings       24.521739
beer_servings      145.434783
spirit_servings    165.739130
dtype: float64

OC average servings
--------------
wine_servings      35.6250
beer_servings      89.6875
spirit_servings    58.4375
dtype: float64

SA average servings
--------------
wine_servings       62.416667
beer_servings      175.083333
spirit_servings    114.750000
dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [25]:
for continent in continents:
    subset = drinks[drinks['continent'] == continent]
    median = subset[['wine_servings', 'beer_servings', 'spirit_servings', 'total_litres_of_pure_alcohol']].median()
    
    print(f'\n{continent} median values')
    print('--------------')
    print(median)

AF median values
--------------
wine_servings                    2.0
beer_servings                   32.0
spirit_servings                  3.0
total_litres_of_pure_alcohol     2.3
dtype: float64

AS median values
--------------
wine_servings                    1.0
beer_servings                   17.5
spirit_servings                 16.0
total_litres_of_pure_alcohol     1.2
dtype: float64

EU median values
--------------
wine_servings                   128.0
beer_servings                   219.0
spirit_servings                 122.0
total_litres_of_pure_alcohol     10.0
dtype: float64

NA median values
--------------
wine_servings                    11.0
beer_servings                   143.0
spirit_servings                 137.0
total_litres_of_pure_alcohol      6.3
dtype: float64

OC median values
--------------
wine_servings                    8.50
beer_servings                   52.50
spirit_servings                 37.00
total_litres_of_pure_alcohol     1.75
dtype: float64

SA median values
--------------
wine_servings                    12.00
beer_servings                   162.50
spirit_servings                 108.50
total_litres_of_pure_alcohol      6.85
dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [23]:
print(f"Max: {drinks['spirit_servings'].max()}")
print(f"Min: {drinks['spirit_servings'].min()}")
print(f"Mean: {drinks['spirit_servings'].mean()}")

Max: 438
Min: 0
Mean: 80.99481865284974